cryptography
argon2-cffi
colorama
pyperclip
pyinstaller
customtkinter
packaging
requests
openai
google-api-python-client
paypal-checkout-sdk
tiktoken
pywin32
pillow
pytest
flask
google-auth-httplib2
google-auth-oauthlib
pycaw
pygetwindow
pyautogui
comtypes
